#slide switches
NET "M_value[7]" LOC = J11;
NET "M_value[6]" LOC = J12;
NET "M_value[5]" LOC = H16;
NET "M_value[4]" LOC = H13;
NET "M_value[3]" LOC = G12;
NET "M_value[2]" LOC = E14;
NET "M_value[1]" LOC = D16;
NET "M_value[0]" LOC = B16;


#Push buttons
NET "reset" LOC = C12;
NET "count_enable" LOC = C10;

#LEDS
NET "Q_outputs[7]" LOC = C11;
NET "Q_outputs[6]" LOC = D11;
NET "Q_outputs[5]" LOC = B11;
NET "Q_outputs[4]" LOC = A12;
NET "Q_outputs[3]" LOC = A13;
NET "Q_outputs[2]" LOC = B13;
NET "Q_outputs[1]" LOC = A14;
NET "Q_outputs[0]" LOC = B14;

#CLK signal input
NET "CLK" LOC = A10;
