#Push buttons
NET "enable" LOC = C12;
NET "reset" LOC = C10;

#LEDS
NET "Q_outputs[7]" LOC = C11;
NET "Q_outputs[6]" LOC = D11;
NET "Q_outputs[5]" LOC = B11;
NET "Q_outputs[4]" LOC = A12;
NET "Q_outputs[3]" LOC = A13;
NET "Q_outputs[2]" LOC = B13;
NET "Q_outputs[1]" LOC = A14;
NET "Q_outputs[0]" LOC = B14;

#CLK signal input
NET "CLK" LOC = A10;